<mat-toolbar id="navbar" [ngClass]="{
  'header-on-bottom': currentUrl === '/home',
  'sticky': currentUrl !== '/home'
}" color="primary">
  <h1>{{ 'global.title' | translate }}</h1>
  <button mat-button routerLink="/">{{ 'global.home' | translate }}</button>
  <button mat-button routerLink="/about">{{ 'global.about' | translate }}</button>

  <mat-menu #appMenu="matMenu">
    <button mat-menu-item *ngFor="let language of languages | keyvalue" (click)="changeLanguage(language.key)">
      {{ language.value }}
    </button>
  </mat-menu>
  
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>language</mat-icon>
  </button>
</mat-toolbar>
