// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

@import "vars";

// Create the theme object (a Sass map containing all of the palettes).
$portfolio-philippe-theme: mat-light-theme($portfolio-philippe-primary, $portfolio-philippe-accent, $portfolio-philippe-warn);


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($portfolio-philippe-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    width: 80%;
    max-width: 1440px;
    margin: auto;
    padding-top: $containerPaddingTop;
    margin-bottom: 5rem;
}

.primary-color {
    color: $primary !important;
}

.accent-color {
    color: $accent !important;
}

.white-color {
    color: $white !important;
}

.black-color {
    color: $black !important;
}

.primary-background-color {
    background-color: $primary !important;
}

.accent-background-color {
    background-color: $accent !important;
}