<div id="home-cover" (scroll)="onWindowScroll($event);">
    <div class="title-container">
        <h1 class="mat-display-4 white-color">Hi, I'm Philippe.</h1>
    </div>
</div>

<div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec elementum elit. Vivamus vel facilisis tellus,
    sed eleifend eros. Sed sit amet turpis eu tortor varius posuere. Mauris semper felis quis nisi venenatis fermentum.
    Phasellus tempus velit et vulputate lacinia. Nulla facilisi. Nam at quam sit amet ante eleifend bibendum sed eu odio.
    Pellentesque vitae quam id nisi tempus rutrum porta id sem. Duis vel porttitor purus, ac placerat nisl. Praesent at
    nibh quis odio porta pulvinar. Nullam vitae rutrum urna, ac bibendum libero. Vestibulum nec fringilla lacus, quis
    tristique sapien. Nam rhoncus, massa eget volutpat finibus, turpis odio mollis nibh, quis efficitur lorem lectus
    lobortis risus. Ut euismod felis ac velit fermentum, at congue dolor finibus. Integer sit amet bibendum nulla, cursus
    congue ligula.</p>

    <p>Vivamus ac quam eu odio mattis auctor. Praesent dapibus elementum pharetra. Duis vitae vulputate felis. Quisque
    lobortis, eros eu mattis blandit, justo dolor vehicula ligula, at luctus neque metus quis orci. Curabitur efficitur
    sem at metus porttitor sollicitudin. Donec tempus odio a quam blandit finibus et ultricies velit. Nam ac posuere nibh,
    in luctus orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed
    finibus erat non felis auctor, vel efficitur odio tempus. Vivamus at ex ultricies, auctor sapien rutrum, suscipit
    risus. Etiam eu arcu eros. Mauris fermentum, massa eu ultricies dapibus, ex risus elementum tellus, sed ultrices erat
    nisl a magna.</p>

    <p>Integer accumsan velit at sollicitudin gravida. Aliquam viverra aliquam aliquet. Etiam vestibulum quam eget orci
    eleifend congue. Vivamus et volutpat felis. Fusce vel erat et ligula malesuada convallis. Morbi mi libero, dignissim
    id ultrices a, pharetra at nisi. Duis accumsan, felis sed auctor auctor, urna est suscipit sem, eu luctus lectus
    tortor et ligula. Cras eros sapien, ultrices condimentum commodo vitae, sagittis in justo.</p>

    <p>Fusce eu ante at justo gravida placerat a dignissim sem. Sed posuere, dolor eget elementum scelerisque, sem lectus
    congue nulla, vel tincidunt neque erat vel urna. Suspendisse ac massa vestibulum, iaculis ipsum et, pharetra lacus.
    Aenean viverra tempor pharetra. Nulla massa mauris, lacinia nec vehicula nec, finibus ut elit. Curabitur sodales massa
    est, efficitur gravida quam blandit a. Mauris fringilla consequat ultricies. Duis nulla augue, rutrum euismod cursus
    non, lacinia rhoncus ipsum.</p>

    <p>Sed at sagittis massa. Donec et finibus quam. Vivamus congue nec nisl pellentesque accumsan. Suspendisse pulvinar
    aliquet lacus eu blandit. Suspendisse non lacus diam. Vivamus id tellus est. Aliquam pharetra metus quam, eget
    tincidunt lectus maximus quis. Mauris id turpis venenatis, venenatis nisi vitae, porta augue. Donec tincidunt congue
    ex quis consectetur. Quisque sed urna consectetur, pretium orci sit amet, fringilla felis. Proin scelerisque turpis
    eget mattis aliquam.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec elementum elit. Vivamus vel facilisis tellus,
    sed eleifend eros. Sed sit amet turpis eu tortor varius posuere. Mauris semper felis quis nisi venenatis fermentum.
    Phasellus tempus velit et vulputate lacinia. Nulla facilisi. Nam at quam sit amet ante eleifend bibendum sed eu odio.
    Pellentesque vitae quam id nisi tempus rutrum porta id sem. Duis vel porttitor purus, ac placerat nisl. Praesent at
    nibh quis odio porta pulvinar. Nullam vitae rutrum urna, ac bibendum libero. Vestibulum nec fringilla lacus, quis
    tristique sapien. Nam rhoncus, massa eget volutpat finibus, turpis odio mollis nibh, quis efficitur lorem lectus
    lobortis risus. Ut euismod felis ac velit fermentum, at congue dolor finibus. Integer sit amet bibendum nulla, cursus
    congue ligula.</p>

    <p>Vivamus ac quam eu odio mattis auctor. Praesent dapibus elementum pharetra. Duis vitae vulputate felis. Quisque
    lobortis, eros eu mattis blandit, justo dolor vehicula ligula, at luctus neque metus quis orci. Curabitur efficitur
    sem at metus porttitor sollicitudin. Donec tempus odio a quam blandit finibus et ultricies velit. Nam ac posuere nibh,
    in luctus orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed
    finibus erat non felis auctor, vel efficitur odio tempus. Vivamus at ex ultricies, auctor sapien rutrum, suscipit
    risus. Etiam eu arcu eros. Mauris fermentum, massa eu ultricies dapibus, ex risus elementum tellus, sed ultrices erat
    nisl a magna.</p>

    <p>Integer accumsan velit at sollicitudin gravida. Aliquam viverra aliquam aliquet. Etiam vestibulum quam eget orci
    eleifend congue. Vivamus et volutpat felis. Fusce vel erat et ligula malesuada convallis. Morbi mi libero, dignissim
    id ultrices a, pharetra at nisi. Duis accumsan, felis sed auctor auctor, urna est suscipit sem, eu luctus lectus
    tortor et ligula. Cras eros sapien, ultrices condimentum commodo vitae, sagittis in justo.</p>

    <p>Fusce eu ante at justo gravida placerat a dignissim sem. Sed posuere, dolor eget elementum scelerisque, sem lectus
    congue nulla, vel tincidunt neque erat vel urna. Suspendisse ac massa vestibulum, iaculis ipsum et, pharetra lacus.
    Aenean viverra tempor pharetra. Nulla massa mauris, lacinia nec vehicula nec, finibus ut elit. Curabitur sodales massa
    est, efficitur gravida quam blandit a. Mauris fringilla consequat ultricies. Duis nulla augue, rutrum euismod cursus
    non, lacinia rhoncus ipsum.</p>

    <p>Sed at sagittis massa. Donec et finibus quam. Vivamus congue nec nisl pellentesque accumsan. Suspendisse pulvinar
    aliquet lacus eu blandit. Suspendisse non lacus diam. Vivamus id tellus est. Aliquam pharetra metus quam, eget
    tincidunt lectus maximus quis. Mauris id turpis venenatis, venenatis nisi vitae, porta augue. Donec tincidunt congue
    ex quis consectetur. Quisque sed urna consectetur, pretium orci sit amet, fringilla felis. Proin scelerisque turpis
    eget mattis aliquam.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec elementum elit. Vivamus vel facilisis tellus,
    sed eleifend eros. Sed sit amet turpis eu tortor varius posuere. Mauris semper felis quis nisi venenatis fermentum.
    Phasellus tempus velit et vulputate lacinia. Nulla facilisi. Nam at quam sit amet ante eleifend bibendum sed eu odio.
    Pellentesque vitae quam id nisi tempus rutrum porta id sem. Duis vel porttitor purus, ac placerat nisl. Praesent at
    nibh quis odio porta pulvinar. Nullam vitae rutrum urna, ac bibendum libero. Vestibulum nec fringilla lacus, quis
    tristique sapien. Nam rhoncus, massa eget volutpat finibus, turpis odio mollis nibh, quis efficitur lorem lectus
    lobortis risus. Ut euismod felis ac velit fermentum, at congue dolor finibus. Integer sit amet bibendum nulla, cursus
    congue ligula.</p>

    <p>Vivamus ac quam eu odio mattis auctor. Praesent dapibus elementum pharetra. Duis vitae vulputate felis. Quisque
    lobortis, eros eu mattis blandit, justo dolor vehicula ligula, at luctus neque metus quis orci. Curabitur efficitur
    sem at metus porttitor sollicitudin. Donec tempus odio a quam blandit finibus et ultricies velit. Nam ac posuere nibh,
    in luctus orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed
    finibus erat non felis auctor, vel efficitur odio tempus. Vivamus at ex ultricies, auctor sapien rutrum, suscipit
    risus. Etiam eu arcu eros. Mauris fermentum, massa eu ultricies dapibus, ex risus elementum tellus, sed ultrices erat
    nisl a magna.</p>

    <p>Integer accumsan velit at sollicitudin gravida. Aliquam viverra aliquam aliquet. Etiam vestibulum quam eget orci
    eleifend congue. Vivamus et volutpat felis. Fusce vel erat et ligula malesuada convallis. Morbi mi libero, dignissim
    id ultrices a, pharetra at nisi. Duis accumsan, felis sed auctor auctor, urna est suscipit sem, eu luctus lectus
    tortor et ligula. Cras eros sapien, ultrices condimentum commodo vitae, sagittis in justo.</p>

    <p>Fusce eu ante at justo gravida placerat a dignissim sem. Sed posuere, dolor eget elementum scelerisque, sem lectus
    congue nulla, vel tincidunt neque erat vel urna. Suspendisse ac massa vestibulum, iaculis ipsum et, pharetra lacus.
    Aenean viverra tempor pharetra. Nulla massa mauris, lacinia nec vehicula nec, finibus ut elit. Curabitur sodales massa
    est, efficitur gravida quam blandit a. Mauris fringilla consequat ultricies. Duis nulla augue, rutrum euismod cursus
    non, lacinia rhoncus ipsum.</p>

    <p>Sed at sagittis massa. Donec et finibus quam. Vivamus congue nec nisl pellentesque accumsan. Suspendisse pulvinar
    aliquet lacus eu blandit. Suspendisse non lacus diam. Vivamus id tellus est. Aliquam pharetra metus quam, eget
    tincidunt lectus maximus quis. Mauris id turpis venenatis, venenatis nisi vitae, porta augue. Donec tincidunt congue
    ex quis consectetur. Quisque sed urna consectetur, pretium orci sit amet, fringilla felis. Proin scelerisque turpis
    eget mattis aliquam.</p>
</div>
