@import "vars";

#home-cover {
    width: 100%;
    height: 100%;
    background-image: url('~/assets/img/psycho-purple.png');
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

@function remove-height-header($value) {
    @return $value - 4rem;
}
.container {
    padding-top: remove-height-header($containerPaddingTop);
}
